*
{
margin: 0;
padding: 0;
box-sizing: border-box;
display: block;
}

body{
    background-color: #ff6600;
    border: black 5px solid
}

.nome {
    margin: 10px 10px;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.email {
    margin: 10px 10px;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}


.number{
    margin: 10px 10px;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.calendario{
    margin: 10px 10px;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.conta{
display: flex;
margin: 10px 10px;
}

.checkbox{
    margin: 5px 10px 5px 10px ;
    background-color: rgb(223, 217, 217);
    
}

.sexo{
    display: flex;
    margin: 10px 10px;
}

.radio{
    margin: 5px 10px 5px 10px ;
    background-color: rgb(223, 217, 217);
}

.color{
    margin: 10px 10px 20px 10px;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.biografia {
    margin: 5px 10px 20px 10px ;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.file {
    margin: 10px 10px 20px 10px ;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.telefone{
    margin: 10px 10px 20px 10px ;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.url {
    margin: 10px 10px 20px 10px ;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.senha {
    margin: 10px 10px 20px 10px ;
    background-color: rgb(223, 217, 217);
    border: 3px solid rgb(89, 24, 209); 
}

.button{
    display: flex;
}

.reset :hover{
    margin: 2px 20px 10px 5px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 3.0;
    color: red;
    background-color: black;
}

.submit {
    margin: 2px 20px 10px 5px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 3.0;
    color: red;
}

.reset:hover{
    color: white;
    background-color: black;
}


.submit:hover{
    color: white;
    background-color: black;
}
